* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #333;
}

.app {
  width: 100vw;
  height: auto;
  background-color: #f2f2f2;
}

.container,
.header,
.navbar {
  width: 100%;
}

.container {
  padding-top: unset;
}

.header {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 1);
  padding: 2%;
}

.main-content {
  display: block;
}
.product-categories {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.navbar-list {
  list-style: none;
}

.auth-item {
  text-decoration: none;
}

.search-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: auto;
}

.logo {
  font-size: 1.6rem;
  color: red;
  font-weight: bold;
}

.search-input {
  width: 65%;
  padding: 5px 5px 3px 5px;
  border-radius: 3px;
  border: 1px solid red;
  margin: 0 auto;
}

.search-input:active,
.search-input:focus-visible {
  outline: none;
}

.cart-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 7%;
}

.cart-icon {
  width: auto;
  height: 100%;
}

.product-list {
  padding: 2% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-item {
  width: 47.5%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  padding: 7px;
  background: rgba(255, 255, 255, 1);
  border-radius: 7px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: 1px 1px 5px 0px rgba(34, 60, 80, 0.25);
  box-shadow: 1px 1px 5px 0px rgba(34, 60, 80, 0.25);
}

.product-image {
  width: 100%;
  margin-bottom: 5px;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-name {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container {
    width: 70%;
    margin: 0 auto;
    padding-top: 15px;
  }

  .header {
    margin-bottom: 15px;
    border-radius: 7px;
    min-width: 596px;
  }

  .navbar {
    margin-bottom: 1%;
  }

  .search-wrapper {
    height: 3rem;
  }

  .logo {
    height: 100%;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
  }

  .search-input {
    width: 65%;
    margin: 0 30px 0 15px;
  }

  .cart-wrapper {
    height: 100%;
  }

  .main-content {
    display: flex;
  }

  .product-categories {
    display: block;
    margin-right: 15px;
    padding: 15px;
    width: 20%;
    min-width: 180px;
    height: min-content;
    background-color: #fff;
    border-radius: 7px;
  }

  .categories-list,
  .subcategories-list {
    list-style: none;
  }

  .subcategories-list {
    padding-left: 15px;
  }

  .product-list {
    width: 100%;
    padding: 0 0 2% 0;
    display: block;
  }

  .product-item {
    height: 250px;
    width: 70%;
    min-width: 400px;
    flex-direction: row;
  }

  .product-image {
    height: 100%;
    width: auto;
    margin: 0 15px 0 0;
  }

  .product-info {
    justify-content: center;
  }
}
